@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {
  background-color:#ffffff;
  color: #d81f29;
  margin: 0;
  padding: 0;
}

#contentContainer {
  position: relative;
  top: 50px;
  left:0;
  /*margin-top: 62px;*/
  padding: 0px;
  background: #ffffff;
  color: #d81f29;
}

#contentContainer a:target{
  padding-top: 75px;
}

#mainHeader{
  z-index: 100;
  overflow: hidden;
  position: fixed;
  float: left;
  width: 100%;
  top: 0;
  left:0;
  background-color: #d81f29;
  color: #f2ede7;
}

#mainHeader img{
  padding-left: 10px;
}

#sectionHeader{
  position: relative;
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  background: #f2ede7;
  color: #d81f29;
  width: 100%;
  padding: 0;
}

#sectionHeader p{
  text-align: center;
}

#welcomeSlogan{
  position: relative;
  float: left;
  width: 100%;
  top: 0;
  left:0;
  background-color:#f2ede7;
  color: #000000;
}

#welcomeSlogan img{
  float: left;
  width: 100%;
  top: 0;
  left:0;
}

.slogan {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  line-height: 48px;
  position: absolute;
  top: 25%;
  left: 15%;
}
.title {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 0;
  color: #b7b0a5;
  font-size: 24px;
  top: 60%;
}

/* ----------------------------------------------------- Nav Bar Start */

.topnav {
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  overflow: hidden;
  background-color: #d81f29;
}

.topnav a {
  top: 60px;
  float: left;
  display: block;
  color: #f2ede7;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #f2ede7;
  color: black;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* ----------------------------------------------------- Nav Bar End */

#aboutMe{
  float: left;
  width: 100%;
  top: 0;
  left:0;
  background-color: #ffffff;
  color: #000000;
}


#aboutMe p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-indent: 25px;
  margin-left: 10%;
  margin-right: 10%;
}


#mainContent{
  float: left;
  width: 100%;
  top: 0;
  left:0;
  background-color: #ffffff;
  color: #000000;
}

#projectNum{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  line-height: 0px;
  text-align: center;
  font-size: 72px;
  color: #d81f29  ;
}

#projectName{
  font-family: 'Lato', sans-serif;
  line-height: 0px;
  top:0;
  text-align: center;
  font-size: 18px;
  color: #000000;
}
#projectDate{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 0px;
  text-align: center;
  color: #b7b0a5;
}
#projectType{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  color: #b7b0a5;
}
#projectGenre{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  color: #b7b0a5;
}
#projectDesc{}

  #projectImg{
    margin: 0;
    padding: 0;


    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    width: 200px;
  }

#projectImg img{
  cursor: pointer;
  display: block;

  width: 100%;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #projectTask{
      display: inline-block;
      float: left;
      width: 100%;
      top:0;
      left:0;
      background-color: #ffffff;
      padding: 30px 0px 0px 0px;
    }
    #aboutMe p{
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      text-indent: 20px;
      margin-left: 10%;
      margin-right: 10%;
    }
    .slogan {
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      line-height:28px;
      position: absolute;
      top: 25%;
      left: 15%;
    }
    .title {
      font-family: 'Lato', sans-serif;
      position: absolute;
      top: 0;
      color: #b7b0a5;
      font-size: 12px;
      top: 60%;
    }
  }

@media screen and (min-width: 600px) {

#projectTask {
  display: inline-block;
  float: left;
  width: 48%;
  top:0;
  left:0;
  background-color: #ffffff;
  padding: 30px 0px 0px 0px;
}
}

#contactMe {
  float: left;
  width: 100%;
  top:0;
  left:0;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  color: #000000;
}

#contactMe p{
  margin-left: 20px;
  margin-right: 20px;
}

#contactMe label {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
}

#contactMe input {
  color: #b7b0a5;
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
}

#contactMe textarea {
  color: #b7b0a5;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
  width: 300px;
}
#contactMe form {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


#mainFooter {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 0px;
  text-align: center;
  color: #b7b0a5;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
  /*padding-left: 20px;*/
  background-color: #d81f29;
  color: #000000;
}

#socialMedia {
  height: 50px;
}
#socialMedia img{
  margin: 10px;
}

#socialMedia a{
  margin-top: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
