@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
}


/* LightBox Viewer Background */
.myLightBox {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 1.0;
}

/* LightBox Viewer Container */
.myLightBoxViewer {
  font-family: 'Lato', sans-serif;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  color: white;
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 18px;
  font-weight: bold;
}

.myWork {
  background-color: black;
	width:100%;
  display: none;

}

.myWork img{
  display: block;
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 400px;
      max-height: 400px;
      width: auto;
      height: auto;
}


/* Next & previous buttons */
.prev, .next {
  z-index: 102;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, a.next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Number text (1/3 etc) */
.numbertext {

  color: #f2f2f2;
  font-size: 24px;
  padding: 0px 14px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
